<br />
<div class="container-fluid"><br />
    <h3 class="text-center">NOSOTROS</h3><hr class="tittle">
    <div class="container"><br />
        <div class="row justify-content-center">
            <div class="col-sm" id="div-1">
                <h4 class="text-center">MISION</h4>
                <img class="rounded mx-auto d-block" src="../../assets/img/imageedit_3_5831768313.png" height="150px" width="300px" alt="" /><br>
                <p class="text-center">Llenar de alegría y diversión el corazón de la comunidad, con la magia del fútbol
                    americano.
                </p>
            </div>
    
            <div class="col-sm" id="div-2">
                <h4 class="text-center">VISION</h4>
                <img class="rounded mx-auto d-block" src="../../assets/img/imageedit_3_5831768313.png" height="150px" width="300px" alt="" /><br>
                <p class="text-center">Ser el equipo líder en campeonatos.</p>
            </div>
    
            <div class="col-sm" id="div-3">
                <h4 class="text-center">VALORES</h4>
                <img class="rounded mx-auto d-block" src="../../assets/img/imageedit_3_5831768313.png" height="150px" width="300px" alt="" /><br>
                <ul>
                    <li><p>Disciplina</p></li>
                    <li><p>Respeto</p></li>
                    <li><p>Sacrificio</p></li>
                </ul>
            </div>
        </div>
    
        <div class="row justify-content-center" id="div-4">
            <h4 class="text-center commitment">NUESTRO COMPROMISO CON LA SOCIEDAD</h4>  
            <ul>
                <li><hr>
                    <p>
                        Promulgar los valores morales, físicos y
                        sociales del fútbol Americano, expandiendo
                        sus enseñanzas con pasión.
                    </p>
                </li>
                <li>
                    <p>
                        Donar utensilios escolares y juguetes
                        deportivos a orfanatos de la comunidad.
                    </p>
                </li>
                <li>
                    <p>
                        Construir la oportunidad para los niños
                        y jóvenes de ésta y de las próximas
                        generaciones de poder jugar fútbol
                        Americano.
                    </p>
                </li>
                <li>
                    <p>
                        Promover los beneficios que el deporte
                        ofrece a la salud física y mental.
                    </p>
                </li>
            </ul>
        </div>
    </div><br /><br />
</div>