<div class="container">
    <h1 class="text-center">Nosotros</h1>

    <div class="row justify-content-center">
        <div class="col-sm">
            <h2 class="text-center">Mision</h2>
            <p>Llenar de alegría y
                diversión el corazón de
                la comunidad, con la
                magia del fútbol
                americano.</p>
        </div>

        <div class="col-sm">
            <h2 class="text-center">Vision</h2>
            <p>Ser el equipo líder en
                campeonatos.</p>
        </div>

        <div class="col-sm">
            <h2 class="text-center">Valores</h2>
            <ul>
                <li><a>Disciplina</a></li>
                <li><a>Respeto</a></li>
                <li><a>Sacrificio</a></li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center">
        <h2 class="text-center">Nuestro compromiso con la sociedad</h2>
    </div>
</div>