<br />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm" id="div-1">
            <h2 class="text-center">Misión</h2>
            <p class="text-center">Llenar de alegría y
                diversión el corazón de
                la comunidad, con la
                magia del fútbol
                americano.</p>
        </div>

        <div class="col-sm" id="div-2">
            <h2 class="text-center">Visión</h2>
            <p class="text-center">Ser el equipo líder en
                campeonatos.</p>
        </div>

        <div class="col-sm" id="div-3">
            <h2 class="text-center">Valores</h2>
            <ul>
                <li><a>Disciplina</a></li>
                <li><a>Respeto</a></li>
                <li><a>Sacrificio</a></li>
            </ul>
        </div>
    </div>

    <div class="row justify-content-center" id="div-4">
        <h2 class="text-center">Nuestro compromiso con la sociedad</h2>        
        <ul>
            <li>
                <p>
                    Promulgar los valores morales, físicos y
                    sociales del fútbol Americano, expandiendo
                    sus enseñanzas con pasión.
                </p>
            </li>
            <li>
                <p>
                    Donar utensilios escolares y juguetes
                    deportivos a orfanatos de la comunidad.
                </p>
            </li>
            <li>
                <p>
                    Construir la oportunidad para los niños
                    y jóvenes de ésta y de las próximas
                    generaciones de poder jugar fútbol
                    Americano.
                </p>
            </li>
            <li>
                <p>
                    Promover los benecios que el deporte
                    ofrece a la salud física y mental.
                </p>
            </li>
        </ul>
    </div>
</div>