<br />
<div class="container-fluid"><br />
    <h3 class="text-center">UNIRSE A PARDOS</h3><hr class="tittle">
    <div class="container"><br />
        <h4 class="text-center">POR QUE UNIRSE A PARDOS?</h4><hr class="second-tittle">
        <p class="text-center">
            Praesent viverra justo turpis. Sed non ipsum pharetra, fringilla quam in, eleifend leo. Donec et nulla at 
            justo mollis accumsan. Nullam vitae ornare lacus, ac efficitur felis. Integer in turpis mollis, ullamcorper 
            turpis vitae, facilisis lorem. Aenean ornare, lectus quis fringilla elementum, eros augue fermentum mauris, 
            quis varius dolor arcu ac ipsum. Morbi varius sem consequat mi mattis commodo. Aenean sagittis porttitor diam 
            t porttitor. Praesent justo felis, suscipit eu viverra a, ornare id erat. Praesent iaculis nisl massa, non 
            porttitor augue vulputate nec. Proin lectus erat, vestibulum non facilisis a, tincidunt non odio. Integer 
            ornare, quam non porta fermentum, nunc lacus tincidunt est, consequat eleifend sapien magna nec ex.
        </p><br>
        <h4 class="text-center">REQUISITOS</h4><hr class="second-tittle">
        <div class="row d-flex justify-content-center">
            <ul>
                <li><p>Estudiante universitario o graduado</p></li>
                <li><p>Mayor de 17 años</p></li>
                <li><p>No antecedentes penales</p></li>
                <li><p>Actitud deportiva</p></li>
                <li><p>Sentido de responsabilidad y disciplina</p></li>
            </ul>
        </div><br><br>
        <h3 class="text-center">FORMULARIO DE SOLICITUD</h3><hr class="second-tittle"><br>
        <div class="row d-flex justify-content-center">
            <form [formGroup]="RecruitmentForm">
                <div class="form-group">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white">
                                      <i class="fa fa-user"></i>
                                    </div>
                                  </div>
                                <input type="text" class="form-control" placeholder="Nombres" required="required" formControlName="name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white">
                                      <i class="fa fa-user"></i>
                                    </div>
                                  </div>
                                <input type="text" class="form-control" placeholder="Apellidos" required="required" formControlName="lastname">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white">
                                        <i class="fas fa-phone"></i>
                                    </div>
                                  </div>
                                <input type="tel" class="form-control" placeholder="Teléfono" required="required" formControlName="phone_number">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white">
                                        <i class="fas fa-id-card"></i>
                                    </div>
                                  </div>
                                <input type="text" class="form-control" placeholder="Cédula" required="required" formControlName="identification_card">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">
                                            <i class="fas fa-at"></i>
                                        </div>
                                      </div>
                                      <input type="email" class="form-control" placeholder="Correo Electronico" required="required" formControlName="email">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">
                                          <i class="fa fa-user"></i>
                                        </div>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Peso (lb)" formControlName="weight">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">
                                            <i class="fa fa-user"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Altura (cm)" formControlName="height">
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="form-group">
                    <div class="form-group row">
                        <div class="col-sm-6">
                            <h6 class="text-white">Certificado de Buena Conducta</h6>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text bg-white">
                                        <i class="fas fa-file"></i>
                                    </div>
                                </div>
                                <div class="custom-file">
                                    <input #fileInput type="file" class="custom-file-input" 
                                    (change)="onSelectFile($event)"
                                    accept=".pdf"
                                    >
                                    <label class="custom-file-label" for="customFileLangHTML" data-browse="Elegir archivo">Archivo</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="text-white">Posición de juego deseada</h6>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <div class="input-group-text bg-white">
                                    <i class="fas fa-users"></i>
                                  </div>
                                </div>
                                <select class="custom-select" formControlName="positionId">
                                    <option 
                                        *ngFor="let position of PositionList" 
                                        [ngValue]="position.positionId">
                                        {{position.fullname}}  ({{position.initial}})
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
         
                <div class="modal-footer col-sm-auto">
                    <!-- <div class="col-sm-auto">
                        <a class="nav-link text-white" [routerLink]="['/requirements']">
                            <strong>Re</strong>
                        </a>
                    </div> -->
                    <div class="col-sm-auto">
                        <button class="btn btn-outline-light btn-lg" (click)="onCreateBloc()">
                            <i class="fas fa-paper-plane"></i>&nbsp;
                            Enviar solictud
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div><br /><br />
</div>