<footer class="footer-copyright text-center">
    <div class="btn-wrapper profile">
        <a
          class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
          href="https://www.youtube.com/channel/UC_qlEQYwytu8J38V8D3X_rg"
          target="_blank"
        >
          <i class="fab fa-youtube"> </i>
        </a>
        <a
          class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
          href="https://www.facebook.com/Pardos-Santo-Domingo-101152031895812"
          target="_blank"
        >
          <i class="fab fa-facebook-square"> </i>
        </a>
        <a
          class="btn btn-icon btn-neutral btn-round btn-simple"
          href="https://www.instagram.com/pardos_sd"
          target="_blank"
        >
          <i class="fab fa-instagram"> </i>
        </a>
      </div>
    <a class="text-white"> <strong>Pardos Santo Domingo </strong>
    © Copyright {{ CopyrightDate | date: 'yyyy' }} </a>
</footer>