header {
    /* animation: Content 8s; */
    display: block;
}

.wrapper {
    /* animation: Content 10s; */
    display: block;
}

.footer {
    /* animation: Content 8s; */
    display: block;
}

@keyframes Content {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
