<br />
<div class="container-fluid"><br />
    <h3 class="text-center">PATROCINADORES</h3><hr class="tittle">
    <div class="container"><br />
        <button class="btn btn-outline-light btn-lg" id="back" (click)="BacktoMenu()">
            <i class="fas fa-chevron-circle-left"></i>&nbsp;
            Volver
        </button>
        <div class="row">
            <div class="col-sm-6">
                <h3 class="text-center">¡GO PARDOS GO!</h3><hr />
                <form [formGroup]="SponsorForm">
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text bg-white">
                                        <i class="fas fa-heading"></i>
                                      </div>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Compañía" formControlName="company">
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="form-group">
                        <div class="form-group row">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                      <div class="input-group-text bg-white">
                                        <i class="fas fa-file"></i>
                                      </div>
                                    </div>
                                    <div class="custom-file">
                                        <input #fileInput1 type="file" class="custom-file-input" 
                                            (change)="onSelectFile1($event)"
                                            accept=".jpg,.png,.jpeg,.mp4,.gif"
                                        >
                                        <label class="custom-file-label text-dark" data-browse="Elegir portada">Imagen</label>
                                    </div>                                   
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text bg-white">
                                            <i class="fas fa-file"></i>
                                        </div>
                                    </div>
                                    <div class="custom-file">
                                        <input #fileInput2 type="file" class="custom-file-input" 
                                            (change)="onSelectFile2($event)"
                                            accept=".svg"
                                        >
                                        <label class="custom-file-label text-dark" data-browse="Elegir logo">Imagen</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <h5 for="exampleFormControlTextarea1">Información</h5>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"
                        formControlName="info"></textarea>
                    </div>
    
                    <div class="modal-footer col-sm-auto">
                        <div class="col-sm-auto">
                            <button class="btn btn-outline-danger" (click)="onClearForm()">
                              <i class="fas fa-times"></i>&nbsp;<span>Borrar</span>
                            </button>
                          </div>
                          <div class="col-sm-auto">
                            <button class="btn btn-outline-success" (click)="onCreateSponsor()">
                              <i class="fas fa-check"></i>&nbsp;<span>Crear</span>
                            </button>
                          </div>
                    </div>
                </form>
            </div>
    
            <div class="col-lg-5 col-md-5">
                <div class="main">
                    <div class="row">
                        <table class="table table-responsive table-hover">
                            <thead>
                                <th scope="col">Ver Patrocinador</th>
                                <th scope="col">Fecha Registro</th>
                                <th></th>
                                <th></th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sponsor of SponsorList">
                                    <td>
                                        <button class="btn btn-outline-light" (click)="ShowContentExample(sponsor.sponsorId)">
                                            <i class="fas fa-eye"></i>
                                        </button>
                                    </td>
                                    <td>{{sponsor.registration_date | date}}</td>
                                    <td>
                                        <button class="btn btn-outline-danger" (click)="onDeleteSponsor(sponsor.sponsorId, sponsor)">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><br /><br /><br /><br />
</div>

<div *ngFor="let sponsor of SponsorList">
    <div class="modal fade" id="SponsorDetail{{sponsor.sponsorId}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="staticBackdropLabel">
                <img [src]="sponsor.logo_path" class="rounded d-block w-100" alt="..." width="5%" height="5%" />
                {{sponsor.company}}
              </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="text-dark" aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row"> 
                <div class="col-sm-6">
                    <img [src]="sponsor.advertising_image_path" class="rounded d-block w-100" alt="..." />
                </div>
                <div class="col-sm-5">
                  <p class="text-dark">
                    {{sponsor.info}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>