<div class="container">
  <button class="btn btn-outline-light" (click)="shiftLeft()">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </button>
  <div class="cards-wrapper">
      <ul class="cards__container">
          <li class="box" style="background-color:rgb(217, 89, 0)">Capitan Jugador 1</li>
          <li class="box">Jugador 2</li>
          <li class="box">Jugador 3</li>
          <li class="box">Jugador 4</li>
          <li class="box">Jugador 5</li>
          <li class="box box--hide">Jugador 6</li>
          <li class="box box--hide">Jugador 7</li>
          <li class="box box--hide">Jugador 8</li>
          <li class="box box--hide">Jugador 9</li>
          <li class="box box--hide">Jugador 10</li>
          <li class="box box--hide">Jugador 11</li>
          <li class="box box--hide">Jugador 12</li>
      </ul>
  </div>
  <button class="btn btn-outline-light" (click)="shiftRight()">
    <i class="fas fa-arrow-alt-circle-right"></i>
  </button>
</div>