<div class="container">
  <a class="btn" (click)="shiftLeft()">
    <i class="fas fa-arrow-alt-circle-left"></i>
  </a>
  <div class="cards-wrapper">
      <ul class="cards__container">
          <li class="box" style="background-color:rgb(217, 89, 0)">box 1</li>
          <li class="box">box 2</li>
          <li class="box">box 3</li>
          <li class="box">box 4</li>
          <li class="box">box 5</li>
          <li class="box box--hide">box 6</li>
          <li class="box box--hide">box 7</li>
          <li class="box box--hide">box 8</li>
          <li class="box box--hide">box 9</li>
          <li class="box box--hide">box 10</li>
          <li class="box box--hide">box 11</li>
          <li class="box box--hide">box 12</li>
      </ul>
  </div>
  <a class="btn" (click)="shiftRight()">
    <i class="fas fa-arrow-alt-circle-right"></i>
  </a>
</div>