hr {
    background-color: white;
}

.container-fluid {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.5);
    /* opacity: 10%; */
}

.tittle {
    width: 15%;
}

.main{
    width: 50%;
    height: auto;
    margin: 0 auto;
    padding: 10%;
}

.row {
    margin-bottom: 2%;
}