.main{
    width: 50%;
    height:380px;
    margin: 0 auto;
    padding: 10%;
    background: rgb(51, 51, 51);
    /* background: linear-gradient(90deg, rgba(0,113,163,1) 0%, rgba(199,170,255,1) 0%, rgba(207,47,47,1) 0%, rgba(55,184,208,1) 0%, rgba(75,122,238,1) 100%); */
    border-radius: 12px;
}

.row {
    margin-bottom: 10px;
}