<div class="container">
    <div class="main">
        <div class="row">
            <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoBlocManagement()">
                Bloc
            </button>
        </div>
        <div class="row">
            <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoInfocManagement()">
                Nosotros
            </button>
        </div>
        <div class="row">
            <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoSponsorsManagement()">
                Patrocinadores
            </button>
        </div>
        <div class="row">
            <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoTeamManagement()">
                Equipo
            </button>
        </div>
    </div>
</div>