<br />
<div class="container-fluid">
    <div class="container"><br />
        <div class="main">
            <h3 class="text-center">MENU</h3><hr />
            <div class="row">
                <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoBlocManagement()">
                    BLOC
                </button>
            </div>
            <!-- <div class="row">
                <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoInfocManagement()">
                    NOSOTROS
                </button>
            </div> -->
            <div class="row">
                <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoSponsorsManagement()">
                    PATROCINADORES
                </button>
            </div>
            <div class="row">
                <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoTeamManagement()">
                    EQUIPO
                </button>
            </div>
            <div class="row">
                <button class="btn btn-outline-light btn-lg btn-block" (click)="GotoUserManagement()">
                    ACCESO A USUARIOS
                </button>
            </div>
        </div>
    </div><br /><br />
</div>