/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~font-awesome/css/font-awesome.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

html {
  font-family: 'Calibri', 'Helvetica';
  height: 100%;
  margin: 0;
}

body {
  background-image: url('assets/img/marc-olivier-jodoin-sI2Dz2dacGI-unsplash.jpg');
  background-position: center;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}