<br />
<div class="container-fluid"><br />
  <h3 class="text-center">BLOC</h3><hr class="tittle">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="col">
          <img src="../../assets/img/Pardos First Generation 2021.PNG" class="rounded d-block w-100" alt="..." width="320px" height="520">
          <div class="carousel-caption d-none d-md-block">
            <br />
            <h5><strong>PARDOS FIRST GENERATION</strong></h5>
            <button class="btn btn-outline-light" data-toggle="modal" data-target="#staticBackdrop">
              Saber mas...
            </button>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let bloc of RecentList; let i = index" 
              [ngClass]="i > 0 ? 'carousel-item' : 'carousel-item active'">
              <img [src]="bloc.cover_image_path" class="rounded d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <button class="btn btn-dark" (click)="ShowContentExample(bloc.blocId)">
                  saber mas...
                </button>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev text-dark" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon text-dark" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-dark" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div><br />
  
        <div class="row d-flex justify-content-center">
          <button class="btn btn-outline-light" (click)="shiftLeft()" *ngIf="FullList.length > 0">
            <i class="fas fa-arrow-alt-circle-left"></i>
          </button>          
          <!-- <div class="column" *ngFor="let bloc of FullList">
            <div class="card">
              <img [src]="bloc.cover_image_path" alt="" />
              <h6 class="card-tittle">{{bloc.tittle}}</h6>      
                <button class="btn btn-outline-light btn-sm" 
                  (click)="ShowContentExample(bloc.blocId)">
                  mas...
                </button>
                <div class="card-footer text-muted">
                  <small>{{bloc.registration_date | date}}</small>
                </div>                             
            </div>
          </div> -->
          <div class="column">
            <div id="FullBloc" class="carousel slide" data-touch="false" data-interval="false">
              <div class="carousel-inner">
                <div *ngFor="let bloc of FullList; let i = index"
                  [ngClass]="i > 0 ? 'carousel-item' : 'carousel-item active'">
                  <div class="row d-flex justify-content-center">
                    <div class="col-sm-5" *ngIf="FullList.length > i">
                      <div class="card">
                        <img [src]="FullList[i].cover_image_path" alt="" />
                        <h6 class="card-tittle">{{FullList[i].tittle}}</h6>      
                          <button class="btn btn-outline-light btn-sm" 
                            (click)="ShowContentExample(FullList[i].blocId)">
                            mas...
                          </button>
                          <div class="card-footer text-muted">
                            <small>{{FullList[i].registration_date | date}}</small>
                          </div>                             
                      </div>
                    </div>
                    <div class="col-sm-5" *ngIf="FullList.length > i + 1">
                      <div class="card">
                        <img [src]="FullList[i + 1].cover_image_path" alt="" />
                        <h6 class="card-tittle">{{FullList[i + 1].tittle}}</h6>      
                          <button class="btn btn-outline-light btn-sm" 
                            (click)="ShowContentExample(FullList[i + 1].blocId)">
                            mas...
                          </button>
                          <div class="card-footer text-muted">
                            <small>{{FullList[i + 1].registration_date | date}}</small>
                          </div>                             
                      </div>
                    </div>
                  </div>
                </div>                
              </div>
            </div>
          </div>
          <button class="btn btn-outline-light" (click)="shiftRight()" *ngIf="FullList.length > 0">
            <i class="fas fa-arrow-alt-circle-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div><br /><br />
</div>

<div *ngFor="let bloc of FullList">
  <div class="modal fade" id="Bloc{{bloc.blocId}}" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-dark" id="staticBackdropLabel">{{bloc.tittle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="text-dark" aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row"> 
            <div class="col-sm-6">
                <img [src]="bloc.cover_image_path" class="rounded d-block w-100" alt="..." />
            </div>
            <div class="col-sm-5">
              <p class="text-dark">
                {{bloc.content}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark" id="staticBackdropLabel">Pardos First Generation 2021</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          &times;
        </button>
      </div>
      <div class="modal-body">
        <div class="row"> 
          <div class="col-sm-6">
            <img src="../../assets/img/Pardos First Generation 2021.PNG" class="rounded mx-auto d-block" alt="..." height="300px">
          </div>
          <div class="col-sm-5">
            <p class="text-dark">
              Somos la primera generación de algo que marcará historia en donde rendirse no es una opción, 
              ni retroceder una alternativa. Somos esfuerzo, dedicación, perseverancia. Somos PARDOS.
              Si puedes creerlo, tu mente puede hacerlo. Esta es la primera generación de algo que marcará 
              precedentes en la historia del deporte dominicano. Si creemos podemos hacerlo. Acompáñanos a 
              emprender este viaje.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>